
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayoutPage.cshtml";
}

@model News_Project.UI.Areas.Member.Data.VM.HomePageVM

<div class="container">
    <div class="content">
        <div class="row">
            <div class="col-md-10">
                @foreach (var item in Model.Posts)
                {
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block">
                                <img class="img-circle" src="@item.AppUser.UserImage" alt="User Image">
                                <span class="username"><a href="#">@item.AppUser.FirstName @item.AppUser.LastName </a></span>
                                <span class="description">@item.CreateDate</span>
                            </div>
                            <!-- /.user-block -->
                            @*<div class="box-tools">
                                <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read">
                                    <i class="fa fa-circle-o"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>*@
                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <img class="img-responsive pad" src="@item.ImagePath" alt="Photo">

                            <span class="pull-right text-muted">@item.Likes.Count likes - @item.Comments.Count comments</span>
                            <p>
                                <center><h4>@item.Header</h4></center>
                            </p>
                            <p>
                                @item.Content
                            </p>
                        </div>
                    </div>
                 }
            </div>
        </div>
    </div>
</div>

